@import '../../../sass/var'
//$prime: #000000


// ################
// ################
// ################

header
    border-top: 1rem*0.5 solid #123456npm
    width: 100%
    padding: 1rem*2
    h1
        font-family : roboto
        //$prime: '#120000'
        color: $prime
        line-height: 0.8em
        font-weight: bold
        font-size: 1rem *6
        text-transform: uppercase
        margin: 0px
        span
            color: #aaaaaa
