// Color Palette
$prime: #E77A1C
$prime-dark: #f7cc0f
$second: #374855
$grey: #E8E8E8
$red: #E16C16C
$white: #ffffff

// Padding & margin, sizing
$cube: 1rem

//fonts
$font1: "Roboto Condensed", sans-serif
$font2: "Roboto", sans-serif
